$laptop-above: 1441px;
$laptop: 1440px;
$tablet-above: 1024px;
$tablet: 1023px;
$mobile-above: 721px;
$mobile: 720px;
$mobile-s-above: 482px;
$mobile-s: 480px;

@mixin laptop-above{
    @media(min-width: $laptop){
        @content;
    }
}

@mixin laptop{
    @media(max-width: $laptop){
        @content;
    }
}
@mixin tablet-above{
    @media(max-width: $laptop){
        @content;
    }
}
@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}
